# SQL Server T-SQL

## üß± 1. SELECT Fundamentals

- The `SELECT` statement retrieves data from tables, views, or expressions.

- SQL Server evaluates queries using a logical order different from the written order (`FROM` ‚Üí `WHERE` ‚Üí `GROUP BY` ‚Üí `HAVING` ‚Üí `SELECT` ‚Üí `ORDER BY`).

- Mastering `SELECT` is foundational to all T-SQL work.

- Projects (chooses) columns from a data source

- Supports expressions, aliases, and calculated values

- Filters rows with `WHERE`

- Sorts output using `ORDER BY`

- Works with joins, grouping, and CTEs

In [ ]:
SELECT 
    EmployeeID,
    FirstName + ' ' + LastName AS FullName,
    Salary * 1.10 AS AdjustedSalary
FROM dbo.Employees
WHERE Salary > 60000
ORDER BY AdjustedSalary DESC;

## üîó 2. JOIN Types

Joins combine rows across tables based on relationships defined by matching keys.
SQL Server supports several join types that determine which rows are included.

- `INNER JOIN` returns matching rows

- `LEFT JOIN` keeps all left-side rows

- `RIGHT JOIN` keeps all right-side rows

- `FULL JOIN` includes all rows from both sides

- `CROSS JOIN` produces a Cartesian product

In [ ]:
    SELECT 
        e.EmployeeID,
        e.FirstName,
        d.DepartmentName
    FROM dbo.Employees AS e
    INNER JOIN dbo.Departments AS d
        ON e.DepartmentID = d.DepartmentID;

## üß© 3. Subqueries

Subqueries allow embedding a query inside another query to perform comparisons, filtering, or derived calculations.

- Used in `SELECT`, `WHERE`, `FROM` clauses

- Can be correlated (references outer query)

- Useful for filtering based on aggregated values

- Often replaced by joins for performance

In [ ]:
SELECT EmployeeID, FirstName, Salary
FROM dbo.Employees
WHERE Salary > (SELECT AVG(Salary) FROM dbo.Employees);

## üóÇÔ∏è 4. Table Expressions (CTEs, Derived Tables, Views)

Table expressions improve readability and modularity by creating temporary or permanent named result sets.

- CTEs defined using `WITH`

- Can chain multiple CTEs

- Views store reusable `SELECT` results

- Improves maintainability and legibility

In [ ]:

WITH MonthlySales AS (
    SELECT 
        SalesPersonID,
        SUM(TotalDue) AS MonthlyTotal
    FROM Sales.SalesOrderHeader
    WHERE OrderDate >= '2025-01-01'
    GROUP BY SalesPersonID
)
SELECT *
FROM MonthlySales
ORDER BY MonthlyTotal DESC;

## üîÑ 5. Set Operators

Set operators combine result sets from multiple queries.

- `UNION` removes duplicates

- `UNION ALL` keeps duplicates (faster)

- `INTERSECT` returns common rows

- `EXCEPT` returns rows in A not in B

In [ ]:
SELECT EmployeeID FROM dbo.Employees
UNION ALL
SELECT EmployeeID FROM dbo.ArchivedEmployees;

## üßÆ 6. Aggregation & Grouping

Aggregations compute summaries across sets of rows.
`GROUP BY` groups rows prior to aggregation, and `HAVING` filters aggregated results.

- Aggregates: `SUM`, `AVG`, `MIN`, `MAX`, `COUNT`

- Non-aggregated columns must appear in `GROUP BY`

- `HAVING` filters groups

In [ ]:
SELECT 
    SalesPersonID,
    SUM(TotalDue) AS TotalSales
FROM Sales.SalesOrderHeader
GROUP BY SalesPersonID
HAVING SUM(TotalDue) > 500000;

## üîç 7. Filtering & Predicates

The `WHERE` clause filters rows based on logical conditions evaluated before grouping.

- Boolean operators: `AND`, `OR`, `NOT`

- Pattern searches: `LIKE`

- Range checks: `BETWEEN`

- Set membership: `IN`

- NULL handling: `IS NULL` / `IS NOT NULL`

In [ ]:
SELECT *
FROM dbo.Users
WHERE Email LIKE '%@gmail.com';

## üïí 8. Working with Dates & Times

SQL Server includes powerful built-in date/time handling functions.

- `CURRENT_TIMESTAMP` vs `GETDATE` vs `SYSDATETIME`

- `DATEADD`, `DATEDIFF` for arithmetic

- `DATENAME`, `DATEPART` for components

- `EOMONTH()` for month-end

In [ ]:
SELECT 
    OrderID,
    OrderDate,
    EOMONTH(OrderDate) AS MonthEnd
FROM Sales.SalesOrderHeader;

## üì¶ 9. Data Modification (INSERT, UPDATE, DELETE, MERGE)

DML statements modify data in SQL Server.

- `INSERT` adds rows

- `UPDATE` changes rows

- `DELETE` removes rows

- `MERGE` handles conditional changes

In [ ]:
INSERT INTO dbo.Departments (DepartmentName)
VALUES ('Data Analytics');

UPDATE dbo.Employees
SET Salary = Salary * 1.10
WHERE DepartmentID = 4;

## üîí 10. Transactions

Transactions ensure data integrity across multiple DML operations.

- Use `BEGIN TRAN`, `COMMIT`, `ROLLBACK`

- Prevents partial updates

- Combine with `TRY/CATCH` for safety

In [ ]:
BEGIN TRAN;
    UPDATE Accounts SET Balance = Balance - 500 WHERE AccountID = 1;
    UPDATE Accounts SET Balance = Balance + 500 WHERE AccountID = 2;

    IF @@ERROR <> 0
        ROLLBACK TRAN;
    ELSE
        COMMIT TRAN;

## üß∞ 11. Variables, Functions & Stored Procedures

T-SQL supports procedural programming elements including variables, user-defined functions, and stored procedures.

- Variables declared using `DECLARE`

- Functions return scalar or table values

- Procedures encapsulate business logic

In [ ]:
DECLARE @Rate DECIMAL(5,2) = 1.05;

SELECT 
    EmployeeID,
    Salary * @Rate AS AdjustedSalary
FROM dbo.Employees;

## üõ†Ô∏è 12. Error Handling (TRY/CATCH)

TRY/CATCH provides structured exception handling for T-SQL.

- `TRY` block runs primary code

- `CATCH` block handles errors

- System functions include `ERROR_MESSAGE()`, `ERROR_LINE()`

In [ ]:
BEGIN TRY
    BEGIN TRAN;
    DELETE FROM dbo.Payroll WHERE PayrollID = -999;
    COMMIT TRAN;
END TRY
BEGIN CATCH
    ROLLBACK TRAN;

    SELECT 
        ERROR_NUMBER() AS ErrNum,
        ERROR_MESSAGE() AS ErrMsg;
END CATCH;

## üìä 13. Window Functions

Window functions perform analytic operations across row sets without collapsing them into groups.

- Defined using `OVER()`

- Ranking: `ROW_NUMBER()`, `RANK()`, `DENSE_RANK()`

- Analytics: `LAG()`, `LEAD()`, `FIRST_VALUE()`

In [ ]:
SELECT
    SalesPersonID,
    TotalDue,
    ROW_NUMBER() OVER (ORDER BY TotalDue DESC) AS RankOrder
FROM Sales.SalesOrderHeader;

## üìÇ 14. Metadata Queries

SQL Server exposes schema and system metadata via catalog views.

- sys.tables, sys.columns for structure

- sys.databases for environment

- `INFORMATION_SCHEMA` for ANSI-compliant access

In [ ]:
SELECT 
    name AS TableName,
    create_date
FROM sys.tables
ORDER BY name;

# üóùÔ∏è T-SQL Keywords


## üîß Data Manipulation Language

| Keyword  | Description                        | Example                                                      |
| -------- | ---------------------------------- | ------------------------------------------------------------ |
| `SELECT`   | Retrieves data.                    | SELECT * FROM Employees;                                     |
| `INSERT`   | Adds rows.                         | INSERT INTO T VALUES (1,'A');                                |
| `UPDATE`   | Modifies rows.                     | UPDATE T SET Name='X' WHERE ID=1;                            |
| `DELETE`   | Removes rows.                      | DELETE FROM T WHERE ID=1;                                    |
| `MERGE`    | Conditional insert/update/delete.  | MERGE A USING B ON A.ID=B.ID WHEN MATCHED THEN UPDATE SET... |
| `TRUNCATE` | Removes all rows, resets identity. | TRUNCATE TABLE Logs;                                         |
| `VALUES`   | Specifies row literals.            | INSERT INTO T VALUES (1,'A');                                |
| `OUTPUT`   | Returns affected rows.             | INSERT INTO T OUTPUT inserted.ID VALUES (1);                 |


## üèóÔ∏è Data Definition Language

| Keyword     | Description               | Example                                            |
| ----------- | ------------------------- | -------------------------------------------------- |
| `CREATE`      | Creates objects.          | CREATE TABLE T(ID int);                            |
| `ALTER`       | Modifies objects.         | ALTER TABLE T ADD Name varchar(20);                |
| `DROP`        | Removes objects.          | DROP TABLE T;                                      |
| `CONSTRAINT`  | Adds a constraint.        | ALTER TABLE T ADD CONSTRAINT PK_T PRIMARY KEY(ID); |
| `PRIMARY KEY` | Declares a primary key.   | PRIMARY KEY (ID)                                   |
| `FOREIGN KEY` | References another table. | FOREIGN KEY (DeptID) REFERENCES Dept(DeptID)       |
| `CHECK`       | Enforces a condition.     | CHECK (Salary > 0)                                 |
| `DEFAULT`     | Defines default value.    | Salary money DEFAULT 0                             |
| `UNIQUE`      | Enforces unique values.   | UNIQUE (Email)                                     |
| `INDEX`       | Creates an index.         | CREATE INDEX IX_T_Name ON T(Name);                 |
| `VIEW`        | Creates a view.           | CREATE VIEW v AS SELECT * FROM T;                  |


## üîó JOIN & SET 

| Keyword   | Description            | Example                                    |
| --------- | ---------------------- | ------------------------------------------ |
| `INNER`     | Returns matching rows. | SELECT * FROM A INNER JOIN B ON A.ID=B.ID; |
| `LEFT`      | Left outer join.       | SELECT * FROM A LEFT JOIN B ON A.ID=B.ID;  |
| `RIGHT`     | Right outer join.      | SELECT * FROM A RIGHT JOIN B ON A.ID=B.ID; |
| `FULL`      | Full outer join.       | SELECT * FROM A FULL JOIN B ON A.ID=B.ID;  |
| `CROSS`     | Cartesian join.        | SELECT * FROM A CROSS JOIN B;              |
| `UNION`     | Set union (distinct).  | SELECT A UNION SELECT B;                   |
| `UNION ALL` | Set union (all rows).  | SELECT A UNION ALL SELECT B;               |
| `INTERSECT` | Intersection.          | SELECT A INTERSECT SELECT B;               |
| `EXCEPT`    | A minus B.             | SELECT A EXCEPT SELECT B;                  |

## üéØ Predicate & Filtering 

| Keyword | Description       | Example                                                 |
| ------- | ----------------- | ------------------------------------------------------- |
| `WHERE`   | Filters rows.     | SELECT * FROM T WHERE Flag=1;                           |
| `HAVING`  | Filters groups.   | HAVING SUM(Sales) > 1000                                |
| `LIKE`    | Pattern matching. | WHERE Name LIKE 'S%'                                    |
| `IN`      | Set membership.   | WHERE DeptID IN (1,2,3)                                 |
| `BETWEEN` | Inclusive range.  | WHERE Date BETWEEN '2024' AND '2025'                    |
| `IS NULL` | NULL filtering.   | WHERE ManagerID IS NULL                                 |
| `EXISTS`  | Subquery test.    | WHERE EXISTS (SELECT 1 FROM Dept D WHERE D.ID=T.DeptID) |


## üßÆ Function & Expression 

| Keyword  | Description            | Example                                    |
| -------- | ---------------------- | ------------------------------------------ |
| `CAST`     | Converts data types.   | SELECT CAST('123' AS int);                 |
| `CONVERT`  | Converts w/format.     | SELECT CONVERT(varchar(10),GETDATE(),120); |
| `COALESCE` | First non-null.        | SELECT COALESCE(MiddleName,'');            |
| `NULLIF`   | Returns NULL if equal. | SELECT NULLIF(A,B);                        |

## üîí Transaction & Concurrency 

| Keyword    | Description          | Example                          |
| ---------- | -------------------- | -------------------------------- |
| `BEGIN TRAN` | Starts transaction.  | BEGIN TRAN;                      |
| `COMMIT`     | Commits transaction. | COMMIT;                          |
| `ROLLBACK`   | Reverts transaction. | ROLLBACK;                        |
| `SAVE TRAN`  | Creates savepoint.   | SAVE TRAN P1;                    |
| `WAITFOR`    | Delay/wait event.    | WAITFOR DELAY '00:00:02';        |
| `HOLDLOCK`   | Strong lock hint.    | SELECT * FROM T WITH (HOLDLOCK); |

## üõ†Ô∏è Conditional Logic

| Keyword  | Description                 | Example                              |
| -------- | --------------------------- | ------------------------------------ |
| `IF`      | Conditional logic.          | IF @x>5 PRINT 'High';                |
| `ELSE`     | Default branch.             | ELSE PRINT 'Low';                    |
| `WHILE `   | Loop.                       | WHILE @i<10 SET @i+=1;               |
| `BREAK`    | Exit loop.                  | IF @i=5 BREAK;                       |
| `CONTINUE` | Skip iteration.             | IF @i=3 CONTINUE;                    |
| `RETURN`   | Exit procedure.             | RETURN 0;                            |
| `CASE`     | Expression-level branching. | SELECT CASE WHEN x>0 THEN 'Pos' END; |
| `GOTO`     | Branch to label.            | GOTO MyLabel;                        |


## üîê Security 

| Keyword      | Description    | Example                               |
| ------------ | -------------- | ------------------------------------- |
| `GRANT`        | Assign rights. | GRANT SELECT ON T TO UserA;           |
| `REVOKE`       | Remove rights. | REVOKE SELECT ON T FROM UserA;        |
| `DENY`         | Block rights.  | DENY UPDATE ON T TO UserA;            |
| `LOGIN` / `USER` | Principals.    | CREATE LOGIN Terry WITH PASSWORD='x'; |


## üß© Server & Database Keywords

| Keyword  | Description     | Example                                     |
| -------- | --------------- | ------------------------------------------- |
| `USE`      | Switch DB.      | USE FinanceDB;                              |
| `DBCC`     | Maintenance.    | DBCC CHECKDB (FinanceDB);                   |
| `BACKUP`   | Create backup.  | BACKUP DATABASE MyDB TO DISK='file.bak';    |
| `RESTORE`  | Restore backup. | RESTORE DATABASE MyDB FROM DISK='file.bak'; |
| `SHUTDOWN` | Stop server.    | SHUTDOWN WITH NOWAIT;                       |

## üß¨ XML / JSON / External Access Keywords

| Keyword        | Description                | Example                                                      |
| -------------- | -------------------------- | ------------------------------------------------------------ |
| `OPENXML`        | Parse XML.                 | EXEC sp_xml_preparedocument ...                              |
| `OPENJSON`       | Parse JSON.                | SELECT * FROM OPENJSON(@json);                               |
| `OPENDATASOURCE` | Remote source.             | SELECT * FROM OPENDATASOURCE(...).Db.dbo.T;                  |
| `OPENROWSET`     | Bulk load or remote query. | SELECT * FROM OPENROWSET(BULK 'file.csv', SINGLE_CLOB) AS J; |

# üß©  T-SQL Built-in Functions

## üî§ String Functions

| Function   | Description            | Example                             |
| ---------- | ---------------------- | ----------------------------------- |
| `LEN`        | String length.         | SELECT LEN('Terry');                |
| `DATALENGTH` | Byte length.           | SELECT DATALENGTH('A');             |
| `LEFT`       | Left substring.        | SELECT LEFT('SQLServer',3);         |
| `RIGHT`      | Right substring.       | SELECT RIGHT('Server',3);           |
| `SUBSTRING`  | Middle substring.      | SELECT SUBSTRING('Database',2,4);   |
| `CHARINDEX`  | Position of substring. | SELECT CHARINDEX('a','T-SQL');      |
| `PATINDEX`   | Pattern search.        | SELECT PATINDEX('%er%','Server');   |
| `REPLACE`    | Replace text.          | SELECT REPLACE('2025-11','-','/');  |
| `STUFF`      | Insert text.           | SELECT STUFF('ABCDE',2,2,'xx');     |
| `REPLICATE`  | Repeat text.           | SELECT REPLICATE('*',5);            |
| `RTRIM`      | Trim end.              | SELECT RTRIM('Hi   ');              |
| `LTRIM`      | Trim start.            | SELECT LTRIM('   Hi');              |
| `UPPER`      | Uppercase.             | SELECT UPPER('sql');                |
| `LOWER`      | Lowercase.             | SELECT LOWER('SQL');                |
| `FORMAT`     | Format value.          | SELECT FORMAT(GETDATE(),'yyyy-MM'); |
| `CONCAT`     | Safe concatenation.    | SELECT CONCAT(First,' ',Last);      |


## üî¢ Numeric Functions

| Function | Description           | Example                  |
| -------- | --------------------- | ------------------------ |
| `ABS`      | Absolute value.       | SELECT ABS(-10);         |
| `CEILING`  | Round up.             | SELECT CEILING(5.3);     |
| `FLOOR `   | Round down.           | SELECT FLOOR(5.9);       |
| `ROUND`    | Round with precision. | SELECT ROUND(123.567,2); |
| `SIGN`     | Sign of number.       | SELECT SIGN(-42);        |
| `SQRT`     | Square root.          | SELECT SQRT(81);         |
| `POWER`    | Exponent.             | SELECT POWER(3,3);       |
| `RAND`     | Random number.        | SELECT RAND();           |


## üïí Date & Time Functions

| Function    | Description               | Example                                       |
| ----------- | ------------------------- | --------------------------------------------- |
| `GETDATE `    | Current timestamp.        | SELECT GETDATE();                             |
| `SYSDATETIME` | High precision timestamp. | SELECT SYSDATETIME();                         |
| `DATEADD`     | Add interval.             | SELECT DATEADD(day,7,GETDATE());              |
| `DATEDIFF`    | Difference between dates. | SELECT DATEDIFF(hour,'2025-01-01',GETDATE()); |
| `DATENAME`    | Name of date part.        | SELECT DATENAME(month,GETDATE());             |
| `DATEPART`    | Numeric date part.        | SELECT DATEPART(weekday,GETDATE());           |
| `EOMONTH`     | End of month.             | SELECT EOMONTH(GETDATE());                    |
| `ISDATE`      | Validate date.            | SELECT ISDATE('2025-02-30');                  |

## üîÑ Conversion Functions

| Function    | Description            | Example                                           |
| ----------- | ---------------------- | ------------------------------------------------- |
| `CAST`        | Change data type.      | SELECT CAST('123' AS int);                        |
| `CONVERT`     | Convert with style.    | SELECT CONVERT(varchar(10),GETDATE(),120);        |
| `TRY_CAST`    | Safe cast.             | SELECT TRY_CAST('abc' AS int);                    |
| `TRY_CONVERT` | Safe convert.          | SELECT TRY_CONVERT(int,'abc');                    |
| `PARSE`       | Culture-aware convert. | SELECT PARSE('11/21/2025' AS date USING 'en-US'); |



## üß† Logical & Utility Functions

| Function | Description         | Example                                |
| -------- | ------------------- | -------------------------------------- |
| `IIF`      | Inline conditional. | SELECT IIF(Salary>50000,'High','Low'); |
| `CHOOSE`   | Choose by index.    | SELECT CHOOSE(2,'A','B','C');          |
| `NULLIF`   | Null on match.      | SELECT NULLIF(A,B);                    |
| `COALESCE` | First non-null.     | SELECT COALESCE(MiddleName,'');        |


## üìä Aggregate Functions

| Function  | Description     | Example                          |
| --------- | --------------- | -------------------------------- |
| `COUNT`     | Number of rows. | SELECT COUNT(*) FROM T;          |
| `COUNT_BIG` | Bigint count.   | SELECT COUNT_BIG(*) FROM Table1; |
| `SUM`       | Sum.            | SELECT SUM(Amount) FROM Orders;  |
| `AVG`       | Average.        | SELECT AVG(Salary) FROM Emp;     |
| `MIN`       | Minimum.        | SELECT MIN(HireDate) FROM Emp;   |
| `MAX`       | Maximum.        | SELECT MAX(Salary) FROM Emp;     |

## üìà Window / Analytic Functions

| Function    | Description        | Example                               |
| ----------- | ------------------ | ------------------------------------- |
| `ROW_NUMBER`  | Sequential number. | ROW_NUMBER() OVER(ORDER BY ID)        |
| `RANK`        | Rank with gaps.    | RANK() OVER(ORDER BY Sales DESC)      |
| `DENSE_RANK`  | Rank without gaps. | DENSE_RANK() OVER(ORDER BY Sales)     |
| `NTILE`       | Buckets.           | NTILE(4) OVER(ORDER BY Score)         |
| `LAG`         | Previous row.      | LAG(Sales) OVER(ORDER BY Month)       |
| `LEAD `       | Next row.          | LEAD(Sales) OVER(ORDER BY Month)      |
| `FIRST_VALUE` | First value.       | FIRST_VALUE(Amount) OVER(ORDER BY Dt) |
| `LAST_VALUE`  | Last value.        | LAST_VALUE(Amount) OVER(ORDER BY Dt)  |

## üß¨ System Information Functions

| Function       | Description         | Example                           |
| -------------- | ------------------- | --------------------------------- |
| `@@ROWCOUNT `    | Rows affected.      | SELECT @@ROWCOUNT;                |
| `@@ERROR`        | Last error code.    | SELECT @@ERROR;                   |
| `@@TRANCOUNT`    | Transaction depth.  | SELECT @@TRANCOUNT;               |
| `SCOPE_IDENTITY` | Identity in scope.  | SELECT SCOPE_IDENTITY();          |
| `IDENT_CURRENT`  | Identity for table. | SELECT IDENT_CURRENT('T');        |
| `SERVERPROPERTY` | Server metadata.    | SELECT SERVERPROPERTY('Edition'); |



## üóÇÔ∏è Metadata Functions

| Function       | Description       | Example                                                      |
| -------------- | ----------------- | ------------------------------------------------------------ |
| `OBJECT_ID`      | Object ID.        | SELECT OBJECT_ID('dbo.Emp');                                 |
| `OBJECT_NAME`    | Name from ID.     | SELECT OBJECT_NAME(123);                                     |
| `TYPE_ID`        | Data type ID.     | SELECT TYPE_ID('int');                                       |
| `TYPE_NAME`      | Type name.        | SELECT TYPE_NAME(56);                                        |
| `COL_LENGTH`     | Column length.    | SELECT COL_LENGTH('dbo.Emp','Name');                         |
| `COLUMNPROPERTY` | Column attribute. | SELECT COLUMNPROPERTY(OBJECT_ID('Emp'),'Name','AllowsNull'); |

## üîç Full-Text Functions

| Function      | Description            | Example                                              |
| ------------- | ---------------------- | ---------------------------------------------------- |
| `CONTAINS`      | Full-text search.      | SELECT * FROM Docs WHERE CONTAINS(Text,'analytics'); |
| `FREETEXT`      | Meaning-based search.  | SELECT * FROM Docs WHERE FREETEXT(Text,'plan');      |
| `CONTAINSTABLE` | Ranked match.          | SELECT * FROM CONTAINSTABLE(Docs,Text,'data');       |
| `FREETEXTTABLE` | Ranked semantic match. | SELECT * FROM FREETEXTTABLE(Docs,Text,'policy');     |

## üîê Cryptographic Functions

| Function            | Description       | Example                                     |
| ------------------- | ----------------- | ------------------------------------------- |
| `HASHBYTES `          | Hash computation. | SELECT HASHBYTES('SHA2_256','Hello');       |
| `ENCRYPTBYPASSPHRASE` | Encryption.       | SELECT ENCRYPTBYPASSPHRASE('pw','data');    |
| `DECRYPTBYPASSPHRASE` | Decryption.       | SELECT DECRYPTBYPASSPHRASE('pw',Encrypted); |

## üßÆ JSON Functions

| Function   | Description           | Example                             |
| ---------- | --------------------- | ----------------------------------- |
| `JSON_VALUE` | Extract scalar value. | SELECT JSON_VALUE(@json,'$.name');  |
| `JSON_QUERY` | Extract object/array. | SELECT JSON_QUERY(@json,'$.items'); |
| `OPENJSON`   | Parse JSON into rows. | SELECT * FROM OPENJSON(@json);      |